#ps1 {
  display: inline;
}
#promptInput {
  display: inline;
  border: none;
  outline: none;
  padding: 0;
  font-size: var(--font-size);
  font-family: "VT323", monospace;
  font-size: 14pt;
  text-transform: uppercase;
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;*/
  color: var(--green);
  background-color: var(--black);
  caret-color: transparent;
}
#inputCursor {
  display: inline-block;
  margin-left: -5px;
  animation: cursor 0.7s infinite;
  animation-timing-function: step-end;
  height: 50px;
}

@keyframes cursor {
    0% {
        color: transparent;
    }
    50% {
        color: var(--green);
    }
    100% {
        color: var(--green);
    }
}
